# filesystem
.gitignore
mongo-bundle/replica
mongo-bundle/sharded
persistence-api/logs/server.log
persistence-api/logs/server.log

persistence-api/node_modules
query-engine/node_modules

frontend-search/data/models.json
frontend-search/data/data.js
frontend-search/data/dsls.json
frontend-search/data/final-data.json
frontend-search/data/MDEForge search facility.pdf
frontend-search/data/metamodels.json
frontend-search/.next
frontend-search/node_modules
frontend-search/data/models.json
persistence-api/node_modules
.vercel
.docker
.vscode
files/mongo-mdeforge-backup-20230530T141319Z-001.zip
files/mongo-mdeforge-backup
files/import.log
helm-deployment
test


