@mixin usePub {
  font-family: $roboto_mono;
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0.5em;
}

@mixin box {
  color: $black;
  font-family: $roboto_mono;
  font-size: $font-size-l;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  margin-left: 2.2em;
  margin-top: 0.2em;

  padding-top: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.1em;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin barSize {
  height: 18em;
  width: 0.4em;
}

.titleDatePub {
  color: $black;
  @include usePub;
  padding-left: 0em;
}

.boxDate {
  @include box;
  outline: none;
}

.fromToBox {
  @include box;
  outline: none;
  margin-left: 0.5em;
}

.from {
  @include flexRow;
  margin-left: 4em;
  padding-top: 0.7em;
}

.to {
  @include flexRow;
  margin-left: 4em;
  padding-left: 1.2em;
  padding-top: 0.7em;
}

.container {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @include flexCol;

  .content {
    width: 70%;
    margin:  auto;

    .title {
      font-size: 1.8em;
      font-family: $montserrat;
      padding-top: 1em;
      padding-left: 0.1em;
      padding-bottom: 0.2em;
      font-weight: 600;
      flex: 1;
      align-self: flex-start;
    }
    .contentSearch {
      display: flex;
      margin-top: 1em;

      .search {
        margin-left: 0.25em;
        // min-width: 42em;

        .context {
          margin-bottom: 2.5em;
          .contextTitle {
            color: $black;
            font-family: $macondo;
            font-size: 1.3em;
            font-weight: 400;
            font-style: normal;
          }

          .fields {
            //   height: 0.4em;
            color: $black;
            font-family: $roboto_mono;
            font-size: $font-size-l;
            font-weight: 400;
            font-style: normal;
            min-width: 16em;
            background-color: $black-2;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 2em;
            padding-right: 2em;
          }
        }
      .plus {
        cursor: pointer;
        margin-top: 0.3em;
      }

      .plus:hover {
        transform: scale(1.05);
      }

        .qualityAssessment {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .transformations {
          margin-top: -1.5em;
          .title {
            color: $black;
            font-family: $macondo;
            font-size: 1.3em;
            font-weight: 400;
            font-style: normal;
          }

          .script {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }

      .bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .gray {
          @include barSize;
          background-color: $mist-gray;
        }

        .bluefish {
          @include barSize;
          background-color: $jelly-bean;
        }
      }

      .publication {
        margin-left: 1.5em;
        .pubTitle {
          color: $black;
          font-family: $macondo;
          font-size: 1.3em;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 0.8em;
        }
      }
    }

    .bottomView {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: -1em;

      .instruction {
        flex: 2.5;
        padding-right: 2em;
        margin-right: 1.1em;
        align-self: flex-start;
        .title {
          color: $black;
          font-family: $macondo;
          font-size: 1.67em;
          font-weight: 400;
          font-style: normal;
        }

        p {
          color: $black;
          font-family: $opensans;
          font-size: $font-size-s;
          font-weight: 400;
          height: 72px;
          letter-spacing: 0;
          margin-left: 1.82px;
          margin-top: 5px;
        }
      }

      .buttons {
        flex: 1;
        margin-left: auto;
        align-self: flex-end;
        // margin-bottom: -2em;
        padding-left: 0.5em;
      }
    }
  }
}
