.container {
  margin-top: auto;
  margin-bottom: 1.5em;
  .content {
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $opensans;

    span {
      font-size: 32px;
      margin-right: 10px;
    }
    p {
      padding-top: 3px;
      font-weight: 500;
    }
  }
}
