html,
body {
  /* font-family: "Macondo", cursive; */
  /* font-family: "Montserrat Alternates", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  position: relative;
  min-width: 80em !important;
  max-width: 85em;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.CodeMirror {
  height: 420px !important;
}
