.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    width: 85%;
    height: 100%;

    .upperView {
      width: 100%;
      height: 6em;
      justify-self: flex-start;

      .title {
        font-size: 1.8em;
        font-family: $montserrat;
        padding-top: 1em;
        padding-left: 0.1em;
        padding-bottom: 0.2em;
        font-weight: 600;
      }

      .searchBar {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 0.9px solid $dark-color;
        cursor: pointer;
        box-shadow: 6px 6px 6px #00000040;

        .search {
          width: 97%;
          font-family: $opensans;
          border: 0;
          font-size: 1em;
          margin-left: 0.8em;
        }
      }

      .metaResults {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8em;

        .total {
          font-family: $montserrat;
          font-size: 0.8em;
          color: rgba(0, 0, 0, 0.82);
        }

        .advanced {
          font-size: large;
          font-family: $opensans;
          font-weight: 700;
          font-family: $montserrat;
          // padding-top: 20px;
          // padding-right: 1px;
          text-align: right;
          cursor: pointer;
        }
        .advanced:hover {
          color: $primary-color;
        }
      }
    }

    .result {
      margin-top: 3em;
      flex-direction: column;
    }
  }
}
