/*
 Variables
*/
$white-color: #ffffff;
$primary-color: #2c5b69;
// $primary-color: #0b2b35;
$dark-color: #000000;
$light-blue-color: #1d7e9c;
$gray-color: #c4c4c429;

$macondo: "Macondo", cursive;
$montserrat: "Montserrat Alternates", sans-serif;
$opensans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$roboto_mono: "Roboto Mono", monospace;

$black-2: rgba(0, 0, 0, 0.149);
$black-42: rgba(0, 0, 0, 0.259);
$black-6: rgba(0, 0, 0, 0.502);
$black-5: rgba(0, 0, 0, 0.671);
$black-7: rgba(0, 0, 0, 0.761);
$black-32: rgba(0, 0, 0, 0.82);
$black: rgba(0, 0, 0, 1);
$jelly-bean: rgba(29, 126, 156, 1);
$casal: rgba(43, 90, 105, 1);
$havelock-blue: rgba(79, 143, 201, 1);
$mist-gray-2: rgba(196, 196, 196, 0.169);
$mist-gray-4: rgba(196, 196, 196, 0.188);
$mist-gray-3: rgba(196, 196, 196, 0.4);
$mist-gray-5: rgba(196, 196, 196, 0.529);
$mist-gray: rgba(196, 196, 196, 1);
$white: rgba(255, 255, 255, 1);
$soft-gray: rgba(0, 0, 0, 0.05);

$font-size-xs: 0.625rem;
$font-size-s: 0.75rem;
$font-size-m: 0.875rem;
$font-size-l: 1rem;
$font-size-xl: 1.125rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 1.8rem;
