<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.arsene.com/dsl/query/QueryDsl"
			class = "com.arsene.dsl.query.queryDsl.QueryDslPackage"
			genModel = "model/generated/QueryDsl.genmodel" />
	</extension>
</plugin>
